@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin-left: auto; 
    margin-right: auto; 
}

/* LOTTERY SECTION */
.balls {
    display: flex;
    justify-content: center
}

.ball {
    min-width: 100px;
    min-height:100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size:1.7rem;
    font-family: 'Krona One', sans-serif;

}

.ball-shadow {
    background-color: rgb(233, 233, 233);
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
    border-radius: 50%;
}

.ball-power {
    background-color: #AE2D24;
    color: white
}

/* DISPLAY SECTION */
.display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px; 
}

.play {
    display: flex;
    justify-content: center;
}

.play-button {
    width: 200px;
    height:50px;
    border: none;
    opacity: 0.6;
    border-radius: 4px;
    font-size: 2rem;
    pointer-events: none;
    background-color: lightgrey;
}

.play-button:hover {
    cursor: pointer;
}

/* INFO SECTION */
.info {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    margin-left: auto; 
    margin-right: auto; 
    font-family: Arial, Helvetica, sans-serif;
}

/* COUPON SECTION */
.coupons {
    margin-right: auto;
    margin-left: auto;
}

.coupons .coupon {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
}

.coupons .coupon .coupon-column {
    letter-spacing: -1.5px;
}

.header-ball {
    width: 20px;
    height: 20px;
}

.coupons .coupon .coupon-column .coupon-balls {
    border-left: 2px solid red;
    border-top: 2px solid red;
}

.coupons .coupon .coupon-column .coupon-balls.last,
.coupons .coupon .coupon-column .coupon-powerballs.last
{
    border-right: 2px solid red; 
}

.coupons .coupon .coupon-column {
    display: flex;
    flex-direction: column;
}

.coupons .coupon .coupon-column .coupon-header {
    height: 30px;
    text-align: center;
}

.coupons .coupon .coupon-column .coupon-balls,
.coupons .coupon .coupon-column .coupon-powerballs
{
    display: flex;
    flex-wrap: wrap;
}

.coupons .coupon .coupon-column .coupon-powerballs {
    padding-top: 10px;
    background-color: rgb(243, 161, 168);
    border-left: 2px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;

}

.coupons .coupon .coupon-column .coupon-balls .ball-cell,
.coupons .coupon .coupon-column .coupon-powerballs .powerball-cell
{
    width: 11px;
    font-size: 14px;   
    margin: 8px 4px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
    position: relative;
}

.non-clickable {
    pointer-events: none;
}

.x {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    z-index: 1;
}
